# Base de données
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/collection_db

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Code de connexion
LOGIN_CODE_EXPIRE_MINUTES=5
LOGIN_CODE_MAX_ATTEMPTS=3
LOGIN_CODE_LOCK_MINUTES=5

# Envoi d'e-mail SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=
SMTP_FROM_NAME=Catalogue de recettes